@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/rubik-v11-latin-500.woff2") format("woff2"),
         url("../fonts/rubik-v11-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik-v11-latin-regular.woff2") format("woff2"),
         url("../fonts/rubik-v11-latin-regular.woff") format("woff");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-footer {
  max-width: 100%;
  border-top: 4px solid #295093 ;
  background: #F6F6F9;
}

.site-header {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.site-logo {
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
  background-color: #fff;
}

.logo-img {
  display: block;
  margin: 0;
  padding: 5px 8px;
}

.valuts-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 23px;
}

.valuts-item:not(:last-child) {
  margin-right: 22px;
}

.kurs {
  font-weight: bold;
  font-size: 16px;
  color: #285193;
  padding-right: 4px;
}

.head-link {
  display: inline-block;
  vertical-align: baseline;
  margin-left: auto;
  text-decoration: none;
  color: #fff;
  padding: 11px 12px 8px 37px;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  position: relative;
}

.head-link::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/telegram-top.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.service {
  margin-top: 44px;
  margin-bottom: 18px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
}

.service-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 21px 0;
  list-style-type: none;
}

.service-item:not(:last-child) {
  margin-right: 22px;
}

.service-link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #222;
  font-weight: 500;
  font-size: 19px;
}

aside {
  padding-bottom: 23px;
}

.banner-reklama {
  display: block;
  padding: 0;
  margin: 0;
}

.img-banner {
  display: block;
  padding: 0;
  margin: 0;
}

.site-main {
  max-width: 100%;
}

.covid-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: #F6F6F9;
  border-radius: 5px;
  margin-top: 22px;
}

.covid-item-info {
  position: relative;
  padding: 18px 71px 18px 103px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-right: 2px solid #EB5569;
  font-weight: 600;
  font-size: 20px;
}

.covid-item-info::after {
  content: "";
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 43px;
  height: 45px;
  background-image: url("../img/covid.png");
  background-position: center center;
  background-repeat: no-repeat;
}


.covid-item {
  padding: 7px 71px;
  border-right: 2px solid gray;
  font-size: 18px;
  position: relative;
}

.mask {
  color: red;
}

.mask::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 40px;
  background-image: url("../img/mask.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.good {
  color: green;
}

.good::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 40px;
  background-image: url("../img/cil_smile.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.die {
  border: none;
}

.die::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 40px;
  background-image: url("../img/Vector.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.number {
  font-weight: 500;
  font-size: 25px;
  color: #222;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

}