@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/rubik-v11-latin-500.woff2") format("woff2"),
         url("../fonts/rubik-v11-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik-v11-latin-regular.woff2") format("woff2"),
         url("../fonts/rubik-v11-latin-regular.woff") format("woff");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-footer {
  max-width: 100%;
  border-top: 4px solid #295093 ;
  background: #F6F6F9;
}

.site-header {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.site-logo {
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
  background-color: #fff;
}

.logo-img {
  display: block;
  margin: 0;
  padding: 5px 8px;
}

.valuts-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 23px;
}

.valuts-item:not(:last-child) {
  margin-right: 22px;
}

.kurs {
  font-weight: bold;
  font-size: 16px;
  color: #285193;
  padding-right: 4px;
}

.head-link {
  display: inline-block;
  vertical-align: baseline;
  margin-left: auto;
  text-decoration: none;
  color: #fff;
  padding: 11px 12px 8px 37px;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  position: relative;
}

.head-link::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/telegram-top.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.service {
  margin-top: 44px;
  margin-bottom: 18px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
}

.service-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 21px 0;
  list-style-type: none;
}

.service-item:not(:last-child) {
  margin-right: 22px;
}

.service-link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #222;
  font-weight: 500;
  font-size: 19px;
}

aside {
  padding-bottom: 23px;
}

.banner-reklama {
  display: block;
  padding: 0;
  margin: 0;
}

.img-banner {
  display: block;
  padding: 0;
  margin: 0;
}

.site-main {
  max-width: 100%;
}

.covid-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: #F6F6F9;
  border-radius: 5px;
  margin-top: 22px;
}

.covid-item-info {
  position: relative;
  padding: 18px 71px 18px 103px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-right: 2px solid #EB5569;
  font-weight: 600;
  font-size: 20px;
}

.covid-item-info::after {
  content: "";
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 43px;
  height: 45px;
  background-image: url("../img/covid.png");
  background-position: center center;
  background-repeat: no-repeat;
}


.covid-item {
  padding: 7px 71px;
  border-right: 2px solid gray;
  font-size: 18px;
  position: relative;
}

.mask {
  color: red;
}

.mask::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 40px;
  background-image: url("../img/mask.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.good {
  color: green;
}

.good::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 40px;
  background-image: url("../img/cil_smile.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.die {
  border: none;
}

.die::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 40px;
  background-image: url("../img/Vector.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.number {
  font-weight: 500;
  font-size: 25px;
  color: #222;
}

.news-top {
  max-width: 100%;
  padding-top: 18px;
}

.news-top-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  list-style-type: none;
}

.news-top-item {
  width: 380px;
  margin-left: 10px;
  margin-bottom: 18px;
}

.news-top-link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
}

.news-top-title {
  margin-top: 0;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 17px;
  color: #222;
}

.time {
  font-size: 14px;
  color: #6B6D97;
}

.will-include {
  max-width: 100%;
  background: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}

.will-include__text {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.will-include__text::before {
  content: "";
  display: block;
  width: 31px;
  height: 35px;
  margin-right: 17px;
  background-image: url("../img/bell-icon.png");
  background-repeat: no-repeat;
}

.will-include__link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  padding: 8px 8px 8px 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
  border-radius: 5px;
}

.last-news-section {
  max-width: 100%;
  padding-top: 38px;
}

.last-news__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.last-news {
  display: flex;
}

.last-news__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.last-news__item {
  width: 783px;
  margin-bottom: 18px;
}

.last-news__link {
  display: flex;
  text-decoration: none;
}

.last-news__img {
  display: block;
  width: 252px;
  height: 143px;
}

.box {
  margin-left: 19px;
}

.box__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}

.box__text {
  width: 480px;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}

.box-time {
  display: flex;
  align-items: center;
}

.box-time::before {
  content: "";
  width: 18px;
  height: 20px;
  margin-right: 2px;
  background-image: url("../img/ic_outline-date-range.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.last-news__button {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.button-news {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  background: #295093;
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 10px 32px;
}

.last-news-right {
  margin-left: 31px;
}

.last-news-right__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #F6F6F9;
  border-radius: 5px;
  padding: 18px 20px;
}

.last-news-right__item {
  width: 100%;
}

.last-news-right__link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  padding-top: 18px;
  padding-bottom: 14px;
  border-bottom: 2px solid #b3b3b3;
}

.last-news-right__link:not(:last-child) {
  border-bottom: 2px solid #b3b3b3;
}


.last-news-right__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
}

.last-news-right__text {
  margin-top: 6px;
  margin-bottom: 11px;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}

.reklama {
  display: block;
  padding-top: 20px;
  text-decoration: none;
}

.reklama-img {
  display: block;
  width: 386px;
  height: 477px;
}

.massangers-section {
  max-width: 100%;
  padding-top: 38px;

}

.massangers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F6F6F9;
  border-radius: 5px;
}

.tel-img {
  width: 236px;
  padding-top: 37px;
}

.tel-img::before {
  content: "";
  display: block;
  width: 100%;
  height: 177px;
  background-image: url("../img/tel.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.massangers__about {
  width: 526px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #295093;
}

.about__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.massangers {
  display: flex;
  align-items: center;
}

.massangers__link {
  display: block;
  align-items: center;
  text-decoration: none;
  margin-right: 19px;
}

.massangers__link:not(:last-child) {
  margin-right: 19px;
}

.massangers-img {
  display: inline-block;
  vertical-align: baseline;
  width: 162px;
  height: 50px;
}



@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

    .covid-item-info::after {
      background-image: url("../img/covid@2x.png");
    }
    .mask::after {
      background-image: url("../img/mask@2x.png");
    }
    .good::after {
      background-image: url("../img/cil_smile@2x.png");
    }
    .die::after {
      background-image: url("../img/Vector@2x.png");
    }
}